{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}

<head>
    <title>{% block title %}{% trans "Login" %}{% endblock %}</title>
</head>

{% block content %}

    <div class="col-md-8 mx-auto text-center">
        <div class="header-title">
            <h1 class="wv-heading--title">
                {% trans "Login" %}
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="myform form ">
                <form method='post'>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email" class="text-info">Email:</label><br>
                        {{ form.email | add_class:'form-control' |attr:'id:email' }}
                    </div>
                    <div class="form-group">
                        <label for="password" class="text-info">{% trans "Password" %}:</label><br>
                        {{ form.password | add_class:'form-control' |attr:'id:password' }}
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary btn-block" value="{% trans "Login" %}"/>
                    </div>
                    <div class="col-md-12 ">
                        <div class="login-or">
                            <hr class="hr-or">
                            <span class="span-or">{% trans "or" %}</span>
                        </div>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-info btn-block" href="{% url 'social:begin' 'google-oauth2' %}">
                            <img src="{% static "img/icons/google.png" %}" alt="G" style="max-height: 25px;"/>
                            {% trans "Log in with Google" %}
                        </a>
                    </div>
                    {% if form.non_field_errors %}
                        <br/>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {% for err in form.non_field_errors %}
                                {{ err }}
                            {% endfor %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <a href="{% url "password_reset" %}" class="ForgetPwd">{% trans "Forget Password?" %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock content %}