{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <div class="header-title">
                <h1 class="wv-heading--title">
                    {% blocktrans %}Password reset{% endblocktrans %}
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <p class="text-center">
                {% trans "Your password has been set. You may go ahead and" %} <a
                    href="{% url 'login' %}">{% trans "log in" %}</a> {% trans "now" %}.
            </p>
        </div>
    </div>

{% endblock %}