{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <div class="header-title">
                <h1 class="wv-heading--title">
                    {% blocktrans %}Forgot password{% endblocktrans %}
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="myform form ">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}" class="text-info">{{ form.email.label }}</label>
                        {% if form.email.errors %}
                            {{ form.email | add_class:'form-control my-input is-invalid' |attr:'autofocus:true' }}
                            <small class="form-text text-muted">{{ form.email.help_text }}</small>
                            <div class="invalid-feedback">
                                {% for err in form.email.errors %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email | add_class:'form-control my-input' |attr:'autofocus:true' }}
                            <small class="form-text text-muted">{% trans "Email address of the account you want to recover the password" %}</small>
                        {% endif %}
                    </div>
                    <div class="text-center">
                        <a href='/accounts/login' class="btn btn-secondary" role="button">
                                    {% trans "Cancel" %}</a>
                        <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}