{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}

<head>
    <title>{% block title %}
        {% if not admin_creation %}
            {% blocktrans %}Sign up{% endblocktrans %}
        {% else %}
            {% blocktrans %}Create admin{% endblocktrans %}
        {% endif %}
    {% endblock %}</title>
</head>

{% block css %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css"/>
{% endblock %}

{% block content %}

    {% if not admin_creation %}
        <div class="col-md-8 mx-auto text-center">
            <div class="header-title">
                <h1 class="wv-heading--title">
                    {% blocktrans %}Sign up{% endblocktrans %}
                </h1>
            </div>
        </div>
    {% else %}
        <div class="col-md-8 mx-auto text-center">
            <div class="header-title">
                <h1 class="wv-heading--title">
                    {% blocktrans %}Create admin account{% endblocktrans %}
                </h1>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="myform form ">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.first_name.id_for_label }}"
                               class="text-info">{{ form.first_name.label }}</label><br>
                        {% if form.first_name.errors %}
                            {{ form.first_name | add_class:'form-control my-input is-invalid' |attr:'id:first_name' |attr:'autofocus:true' }}
                            <div class="invalid-feedback">
                                {% blocktrans %}The name is not valid{% endblocktrans %}
                            </div>
                        {% else %}
                            {{ form.first_name | add_class:'form-control my-input' |attr:'autofocus:true' }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.last_name.id_for_label }}"
                               class="text-info">{{ form.last_name.label }}</label><br>
                        {% if form.last_name.errors %}
                            {{ form.last_name | add_class:'form-control my-input is-invalid' |attr:'id:last_name' |attr:'autofocus:true' }}
                            <div class="invalid-feedback">
                                {% blocktrans %}The last name is not valid{% endblocktrans %}
                            </div>
                        {% else %}
                            {{ form.last_name | add_class:'form-control my-input' }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.alias.id_for_label }}" class="text-info">{{ form.alias.label }}</label><br>
                        {% if form.alias.errors %}
                            {{ form.alias | add_class:'form-control my-input is-invalid' |attr:'autofocus:true' }}
                            <div class="invalid-feedback">
                                {% for err in form.alias.errors %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.alias | add_class:'form-control my-input' }}
                        {% endif %}
                        <small class="form-text text-muted">{{ form.alias.help_text }}</small>
                    </div>
                    <div class="form-group">
                        <label for="date_of_birth" class="text-info">{{ form.date_of_birth.label }}
                            <span class="text-muted">{% trans "(Optional)" %}</span>
                        </label><br>
                        {% if form.date_of_birth.errors %}
                            {{ form.date_of_birth | add_class:'form-control my-input is-invalid' |attr:'id:date_of_birth'|attr:'name:date_of_birth' }}
                            <div class="invalid-feedback">
                                {% blocktrans %}The date of birth is not valid{% endblocktrans %}
                            </div>
                        {% else %}
                            {{ form.date_of_birth |add_class:'form-control my-input' |attr:'id:date_of_birth'|attr:'name:date_of_birth' }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.biography.id_for_label }}" class="text-info">{{ form.biography.label }}
                            <span class="text-muted">{% trans "(Optional)" %}</span>
                        </label>
                        {% if form.biography.errors %}
                            {{ form.biography | add_class:'form-control my-input is-invalid' |attr:'autofocus:true' }}
                            <div class="invalid-feedback">
                                {% for err in form.biography.errors %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.biography | add_class:'form-control my-input' |attr:'autofocus:true' }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.picture.id_for_label }}" class="text-info">{{ form.picture.label }}
                            <span class="text-muted">{% trans "(Optional)" %}</span>
                        </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">
                                    {% blocktrans %}Upload picture{% endblocktrans %}</span>
                            </div>
                            <div class="custom-file">
                                {{ form.picture |attr:'type:file' | add_class:'custom-file-input' |attr:'aria-describedby:inputPictureHelpTextId' }}
                                <label class="custom-file-label" for="{{ form.picture.id_for_label }}">
                                    {% blocktrans %}Choose file{% endblocktrans %}</label>
                            </div>
                        </div>
                        <small id="inputPictureHelpTextId" class="form-text text-muted">
                            {{ form.picture.help_text }}
                        </small>
                        {% for err in form.picture.errors %}
                            <div class="invalid-feedback">{{ err }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}" class="text-info">{{ form.email.label }}</label><br>
                        {% if form.email.errors %}
                            {{ form.email | add_class:'form-control my-input is-invalid' |attr:'id:email' |attr:'autofocus:true' }}
                            <div class="invalid-feedback">
                                {% blocktrans %}The email is not valid or is already in use{% endblocktrans %}
                            </div>
                        {% else %}
                            {{ form.email | add_class:'form-control my-input' }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.password1.id_for_label }}"
                               class="text-info">{{ form.password1.label }}</label><br>
                        {% if form.password1.errors %}
                            {{ form.password1 | add_class:'form-control my-input is-invalid' |attr:'id:password1' |attr:'autofocus:true' }}
                            <div class="invalid-feedback">
                                {% blocktrans %}The password is not valid{% endblocktrans %}
                            </div>
                        {% else %}
                            {{ form.password1 |add_class:'form-control my-input' }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.password2.id_for_label }}"
                               class="text-info">{{ form.password2.label }}</label><br>
                        {% if form.password2.errors %}
                            {{ form.password2 | add_class:'form-control my-input is-invalid' |attr:'id:password2' |attr:'autofocus:true' }}
                            <div class="invalid-feedback">
                                {% blocktrans %}The password is not valid{% endblocktrans %}
                            </div>
                        {% else %}
                            {{ form.password2 |add_class:'form-control my-input' }}
                        {% endif %}
                    </div>
                    <div class="text-center ">
                        {% if not admin_creation %}
                            <button type="submit" class="btn btn-primary btn-block ">
                                {% blocktrans %}Sign up{% endblocktrans %}
                            </button>
                        {% else %}
                            <button type="submit" class="btn btn-primary btn-block">
                                {% blocktrans %}Create admin{% endblocktrans %}
                            </button>
                        {% endif %}
                    </div>
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {% for err in form.non_field_errors %}
                                {{ err }}
                            {% endfor %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    {% if not admin_creation %}
                        <div class="col-md-12 ">
                            <div class="login-or">
                                <hr class="hr-or">
                                <span class="span-or">{% trans "or" %}</span>
                            </div>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-info btn-block" href="{% url 'social:begin' 'google-oauth2' %}">
                                <img src="{% static "img/icons/google.png" %}" alt="G" style="max-height: 25px;"/>
                                {% trans "Log in with Google" %}
                            </a>
                        </div>
                        <p class="small mt-3">{% trans "By signing up, you are indicating that you have read and agree to the" %}
                            <a href="#">{% trans "Terms of Use and Privacy Policy" %}</a>.
                        </p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascript %}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#date_of_birth').datepicker({
                {% get_current_language as LANGUAGE_CODE %}
                format:
                    {% if LANGUAGE_CODE == "es" %}
                        'dd/mm/yyyy',
                    {% else %}
                        'mm/dd/yyyy',
                    {% endif %}
            })
        });

        // This script makes the name of the file appear on upload input
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
{% endblock %}