{% extends 'base.html' %}
{% load i18n %}
{% load static %}

<head>
    <title>{% block title %}{{ user_profile.first_name }} {{ user_profile.last_name }}{% endblock %}</title>
</head>

{% block content %}
    <div class="row top-buffer"> {% comment %}Top buffer adds 20px for top margin{% endcomment %}
        <div class="col-md-3">
            <img class="img-fluid img-thumbnail" alt="{{ user_profile.first_name }}" style="max-height: 200px"
                 src="data:image/png;base64,{{ user_profile.picture }}" data-holder-rendered="true">
        </div>
        <div class="col-md-9 my-auto"> {% comment %}Puts column and text in the center{% endcomment %}
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col">
                            <div class="header-title"> {% comment %}Adds margin to the column{% endcomment %}
                                <h1>{{ user_profile.first_name }} {{ user_profile.last_name }}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-muted">
                            {% blocktrans %}Joined on{% endblocktrans %} {{ user_profile.joined_date }}
                            <p>
                                {{ user_profile.public_karma }} {% trans "public Karma" %}.
                            </p>
                        </div>
                    </div>
                </div>
                {% if user == user_profile %}
                    <div class="col-md-3">
                        <div style="margin-bottom: 1rem">
                            <h2>
                                <img src="{% static 'img/icons/options-3.png' %}" alt="Options"
                                     style="max-height: 25px;">
                                {% trans "User options:" %}
                            </h2>
                        </div>
                        <div class="col">
                            <a href='/user/edit/'
                               class="btn btn-outline-info btn-block text-left">
                                <img src="{% static 'img/icons/edit.png' %}" alt="Edit"
                                     style="max-height: 25px;"/> {% trans "Edit profile" %}</a>
                            <a href='/user/export/'
                               class="btn btn-outline-danger btn-block text-left">
                                <img src="{% static 'img/icons/edit.png' %}" alt="Export"
                                     style="max-height: 25px;"/> {% trans "Export data" %}</a>
                            <a href='/user/delete/'
                               class="btn btn-outline-danger btn-block text-left">
                                <img src="{% static 'img/icons/delete.png' %}" alt="Delete"
                                     style="max-height: 25px;"/> {% trans "Delete account" %}</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}