{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}

<head>
    <title>{% block title %}{% blocktrans %}Edit profile{% endblocktrans %}{% endblock %}</title>
</head>

{% block css %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css"/>
{% endblock %}

{% block content %}

    <div class="col-md-6 mx-auto text-center">
        <div class="header-title">
            <h1 class="wv-heading--title">
                {% blocktrans %}Edit profile{% endblocktrans %}
            </h1>
        </div>
        {% if form.instance.deletion_date %}
            <div class="alert alert-danger" role="alert">
                {% trans "Your account will be deleted on" %} {{ form.instance.deletion_date }}.
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="myform form ">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="first_name" class="text-info">{% trans "First name" %}:</label><br>
                        {% if form.first_name.errors %}
                            {{ form.first_name | add_class:'form-control my-input is-invalid' |attr:'id:first_name' |attr:'autofocus:true' }}
                            <div class="invalid-feedback">
                                {% blocktrans %}The name is not valid{% endblocktrans %}
                            </div>
                        {% else %}
                            {{ form.first_name | add_class:'form-control my-input' |attr:'id:first_name' |attr:'autofocus:true' }}
                        {% endif %}
                        <small class="form-text text-muted">{{ form.first_name.help_text }}</small>
                    </div>
                    <div class="form-group">
                        <label for="last_name" class="text-info">{% trans "Last name" %}:</label><br>
                        {% if form.last_name.errors %}
                            {{ form.last_name | add_class:'form-control my-input is-invalid' |attr:'id:last_name' |attr:'autofocus:true' }}
                            <div class="invalid-feedback">
                                {% blocktrans %}The last name is not valid{% endblocktrans %}
                            </div>
                        {% else %}
                            {{ form.last_name | add_class:'form-control my-input' |attr:'id:last_name' }}
                        {% endif %}
                        <small class="form-text text-muted">{{ form.last_name.help_text }}</small>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.alias.id_for_label }}" class="text-info">{{ form.alias.label }}:</label><br>
                        {% if form.alias.errors %}
                            {{ form.alias | add_class:'form-control my-input is-invalid' |attr:'autofocus:true' }}
                            <div class="invalid-feedback">
                                {% for err in form.alias.errors %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.alias | add_class:'form-control my-input' }}
                        {% endif %}
                        <small class="form-text text-muted">{{ form.alias.help_text }}</small>
                    </div>
                    <div class="form-group">
                        <label for="date_of_birth" class="text-info">{% trans "Date of birth" %}:</label><br>
                        {% if form.date_of_birth.errors %}
                            {{ form.date_of_birth | add_class:'form-control my-input is-invalid' |attr:'id:date_of_birth'|attr:'name:date_of_birth' }}
                            <div class="invalid-feedback">
                                {% blocktrans %}The date of birth is not valid{% endblocktrans %}
                            </div>
                        {% else %}
                            {{ form.date_of_birth |add_class:'form-control my-input' |attr:'id:date_of_birth'|attr:'name:date_of_birth' }}
                        {% endif %}
                        <small class="form-text text-muted">{{ form.date_of_birth.help_text }}</small>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.biography.id_for_label }}"
                               class="text-info">{{ form.biography.label }} <span
                                class="text-muted">{% trans "(Optional)" %}</span></label>
                        {% if form.biography.errors %}
                            {{ form.biography | add_class:'form-control my-input is-invalid' |attr:'autofocus:true' }}
                            <div class="invalid-feedback">
                                {% for err in form.biography.errors %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.biography | add_class:'form-control my-input' |attr:'autofocus:true' }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.picture.id_for_label }}"
                               class="text-info">{{ form.picture.label }} <span
                                class="text-muted">{% trans "(Optional)" %}</span></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">
                                    {% blocktrans %}Upload picture{% endblocktrans %}</span>
                            </div>
                            <div class="custom-file">
                                {{ form.picture |attr:'type:file' | add_class:'custom-file-input' |attr:'aria-describedby:inputPictureHelpTextId' }}
                                <label class="custom-file-label" for="{{ form.picture.id_for_label }}">
                                    {% blocktrans %}Choose file{% endblocktrans %}</label>
                            </div>
                        </div>
                        <small id="inputPictureHelpTextId" class="form-text text-muted">
                            {{ form.picture.help_text }}
                        </small>
                        {% for err in form.picture.errors %}
                            <div class="invalid-feedback">{{ err }}</div>
                        {% endfor %}
                    </div>
                    <div class="text-center ">
                        {% if form.instance.deletion_date %}
                            <a href="/user/cancel-deletion" class="btn btn-success">
                                {% trans "Cancel account deletion" %}
                            </a>
                        {% else %}
                            <button type="submit" class="btn btn-danger" name="delete" onclick="return deleteConfirm()">
                                {% trans "Delete account" %}
                            </button>
                        {% endif %}
                        <button type="submit" class="btn btn-primary">
                            {% trans "Save changes" %}
                        </button>
                    </div>
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {% for err in form.non_field_errors %}
                                {{ err }}
                            {% endfor %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#date_of_birth').datepicker({
                {% get_current_language as LANGUAGE_CODE %}
                format:
                    {% if LANGUAGE_CODE == "es" %}
                        'dd/mm/yyyy',
                    {% else %}
                        'mm/dd/yyyy',
                    {% endif %}
            })
        });

        // This script makes the name of the file appear on upload input
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        function deleteConfirm() {
            {% get_current_language as CURRENT_LANGUAGE %}
            {% if CURRENT_LANGUAGE == "en" %}
                var result = confirm("Are you sure you want to delete your account? If you decide so, it will be marked for " +
                    "its full deletion in 30 days. Until then, you can change your mind and cancel the process.");
            {% else %}
                var result = confirm("¿Estás seguro de que quieres borrar tu cuenta? Si así decides, ésta quedará marcada para " +
                    "su borrado de aquí a 30 días. Hasta entonces, puedes cambiar de opinión y cancelar el proceso.");
            {% endif %}
            return result;
        }
    </script>
{% endblock %}
