{% extends 'base.html' %}
{% load i18n %}
{% load static %}

<head>
    <title>{% block title %}{% trans "Past bets of" %} {{ user_past_bets.first_name }}{% endblock %}</title>
</head>

{% block content %}

    <div class="row top-buffer"> {% comment %}Top buffer adds 20px for top margin{% endcomment %}
        <div class="col-md-3">
            <img class="img-fluid img-thumbnail img-header" alt="{{ user_past_bets.first_name }}"
                 title="{{ user_past_bets.first_name }}"
                 src="data:image/png;base64,{{ user_past_bets.picture }}" data-holder-rendered="true">
        </div>
        <div class="col-md-9 my-auto"> {% comment %}Puts column and text in the center{% endcomment %}
            <div class="row text-center">
                <div class="col-md">
                    <div class="row">
                        <div class="col">
                            <div class="header-title"> {% comment %}Adds margin to the column{% endcomment %}
                                <h3 class="text-blue" style="overflow-wrap: break-word;">
                                    {% trans "Betting history of" %} {{ user_past_bets.first_name }} {{ user_past_bets.last_name }}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-muted text-center">
                            {% trans "Only displaying assets bought from markets that you and" %} {{ user_past_bets.first_name }} {% trans "both have access" %}.
                            {% trans "This includes public markets" %}.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <div style="margin-bottom: 1rem">
                        <h2 class="text-red">
                            <img src="{% static 'img/icons/communities.png' %}" alt="Communities"
                                 style="max-height: 25px;">
                            {% trans "Communities in common" %}:
                        </h2>
                    </div>
                    {% if communities.count == 0 %}
                        <p class="text-muted">{% blocktrans %}You don't have any community in common with
                            {{ user_past_bets.first_name }}{% endblocktrans %}</p>
                    {% else %}
                        <div class="album bg-light" style="margin-bottom: 1rem">
                            <div class="container">
                                <div class="row">
                                    {% for community in communities %}
                                        <div class="col-md-12">
                                            <div class='card mb-4 box-shadow'>
                                                <a href="/community/{{ community.id }}/{{ community.slug }}">
                                                    <img class='card-img-top img-thumbnail img-related-market'
                                                         alt="{{ community.title }}"
                                                         src="data:image/png;base64,{{ community.picture }}"
                                                         data-holder-rendered="true">
                                                </a>
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        <a href="/community/{{ community.id }}/{{ community.slug }}"
                                                           class="text-blue">
                                                            <strong>{{ community.name }}</strong>
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col">
                    <h2 class="text-red" style="margin-bottom: 1rem">
                        <img src="{% static 'img/icons/markets.png' %}" alt="Markets" style="max-height: 25px;">
                        {% trans "Assets" %}:
                    </h2>
                </div>
                <div class="col">
                    <div class="float-right">
                        <a href="/user/{{ user_past_bets.pk }}/{{ user_past_bets.slug }}">
                            <button type="button" class="btn btn-secondary">
                                {% blocktrans %}Back to user profile{% endblocktrans %}
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% if assets.count == 0 %}
                        <p>{% blocktrans %}This user has not placed any bet yet.{% endblocktrans %}</p>
                    {% else %}
                        {% for asset in assets %}
                            <div class="block" data-judged="True" data-correct="{{ asset.option.is_correct }}"
                                 data-binary="{{ asset.market.is_binary }}"
                                 data-exclusive="{{ asset.market.is_exclusive }}"
                                 data-yes="{{ asset.is_yes }}">
                                <div class="row">
                                    <div class="col-md-6 mx-auto my-auto">
                                        <h5 class="text-blue">
                                            <a href="/market/{{ asset.market.pk }}/{{ asset.market.slug }}"
                                               class="text-blue">{{ asset.market.title }}</a>
                                        </h5>
                                    </div>
                                    <div class="col-md-3 mx-auto my-auto text-center">
                                        <h5 class="text-blue">{% trans "Option" %}</h5>
                                        {% if asset.market.is_binary or asset.market.is_exclusive %}
                                            <h5 class="text-red">{{ asset.option.name }}</h5>
                                        {% elif asset.is_yes %}
                                            <h5 class="text-red">{{ asset.option.name }}<span
                                                    class="text-correct"> ({% trans "Yes" %})</span></h5>
                                        {% else %}
                                            <h5 class="text-red">{{ asset.option.name }}<span
                                                    class="text-incorrect"> ({% trans "No" %})</span></h5>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-3 mx-auto my-auto text-center">
                                        <h5 class="text-blue">{% trans "Assets" %}</h5>
                                        <h5 class="text-red">{{ asset.quantity }}</h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <nav aria-label="Pagination">
                        <ul class="pagination">
                            {% if assets.has_previous %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ assets.previous_page_number }}">&laquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                            {% endif %}

                            {% for page_num in assets.paginator.page_range %}
                                {% if assets.number == page_num %}
                                    <li class="page-item active"><span class="page-link">{{ page_num }} <span
                                            class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ page_num }}">{{ page_num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if assets.has_next %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ assets.next_page_number }}">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
{% endblock %}