{% extends 'base.html' %}
{% load i18n %}
{% load static %}

<head>
    <title>{% block title %}{{ group.name }}{% endblock %}</title>
</head>

{% block content %}
    <div class="row top-buffer"> {% comment %}Top buffer adds 20px for top margin{% endcomment %}
        <div class="col-md-3">
            <img class="img-fluid img-thumbnail" alt="{{ group.name }}" style="max-height: 255px"
                 src="data:image/png;base64,{{ group.picture }}" data-holder-rendered="true">
        </div>
        <div class="col-md-9 my-auto"> {% comment %}Puts column and text in the center{% endcomment %}
            <div class="row">
                <div class="col">
                    <div class="header-title"> {% comment %}Adds margin to the column{% endcomment %}
                        <h1>{{ group.name }}</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-muted">
                    {% blocktrans %}Created by{% endblocktrans %} {{ group.moderator }} - {{ group.creation_date |date }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <hr>
            <div class="row">
                <div class="col">
                    <div class="header-title">
                        <h2>
                            <img src="{% static 'img/icons/group-rules.png' %}" alt="Description" style="max-height: 25px;">
                            {% trans "Description:" %}
                        </h2>
                    </div>
                    <div>
                        {{ group.description }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="header-title">
                        <h2>
                            <img src="{% static 'img/icons/users.png' %}" alt="Users" style="max-height: 25px;">
                            {% trans "Participants:" %}
                        </h2>
                        <div>
                            <ul>
                                <li>Participante 1</li>
                                <li>Participante 2</li>
                                <li>Participante 3</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <hr>
            <div class="header-title">
                <h2>
                    <img src="{% static 'img/icons/markets.png' %}" alt="Markets" style="max-height: 25px;">
                    {% trans "Markets:" %}
                </h2>
            </div>
            <div>
                {{ group.market_set }}
            </div>
        </div>
    </div>

{% endblock %}