{% extends 'base.html' %}
{% load i18n %}
{% load static %}

<head>
    <title>{% block title %}{{ group.name }}{% endblock %}</title>
</head>

{% block content %}
    <div class="row top-buffer"> {% comment %}Top buffer adds 20px for top margin{% endcomment %}
        <div class="col-md-3">
            <img class="img-fluid img-thumbnail" alt="{{ group.name }}" style="max-height: 255px"
                 src="data:image/png;base64,{{ group.picture }}" data-holder-rendered="true">
        </div>
        <div class="col-md-9 my-auto"> {% comment %}Puts column and text in the center{% endcomment %}
            <div class="row">
                <div class="col">
                    <div class="header-title"> {% comment %}Adds margin to the column{% endcomment %}
                        <h1>{{ group.name }}</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-muted">
                    {% blocktrans %}Created by{% endblocktrans %} {{ group.moderator }}
                    - {{ group.creation_date |date }}
                    <p>
                        {{ group.joinedgroup_set.count }}
                        {% if group.joinedgroup_set.count == 1 %}
                            {% trans "participant." %}
                        {% else %}
                            {% trans "participants." %}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <hr>
            <div class="row">
                <div class="col">
                    <div style="margin-bottom: 1rem">
                        <h2>
                            <img src="{% static 'img/icons/group-rules.png' %}" alt="Description"
                                 style="max-height: 25px;">
                            {% trans "Description:" %}
                        </h2>
                    </div>
                    <div>
                        {{ group.description }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="header-title">
                        <h2>
                            <img src="{% static 'img/icons/users.png' %}" alt="Users" style="max-height: 25px;">
                            {% trans "Participants:" %}
                        </h2>
                        <div>
                            <ul>
                                <li>Participante 1</li>
                                <li>Participante 2</li>
                                <li>Participante 3</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <hr>
            <div class="row">
                <div class="col">
                    <h2 style="margin-bottom: 1rem">
                        <img src="{% static 'img/icons/markets.png' %}" alt="Markets" style="max-height: 25px;">
                        {% trans "Markets:" %}
                    </h2>
                </div>
                <div class="col">
                    <div class="float-right">
                        {% if group.moderator == user %}
                        <a href="/market/create/?groupId={{ group.pk }}">
                            <button type="button" class="btn btn-primary">
                                {% blocktrans %}Create market{% endblocktrans %}
                            </button>
                        </a>
                        {% elif not user_is_member %}
                            <a href="/group/request-join/?groupId={{ group.pk }}">
                            <button type="button" class="btn btn-primary">
                                {% blocktrans %}Join group{% endblocktrans %}
                            </button>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {% if group.market_set.count == 0 %}
                        <p>{% blocktrans %}This group has no markets yet.{% endblocktrans %}</p>
                    {% else %}
                        <ul class="list-unstyled">
                            {% for market in group.descending_ordered_market_set.all  %}
                                <li class="media">
                                    <a href="{% url 'home' %}">
                                        <img class="mr-3 img-fluid img-thumbnail" style="max-height: 100px;"
                                             src="data:image/png;base64,{{ market.picture }}" alt="{{ market.title }}">
                                    </a>
                                    <div class="media-body">
                                        <a href="{% url 'home' %}">
                                            <h5 class="mt-0 mb-1">{{ market.title }}</h5>
                                        </a>
                                        {% if market.joinedgroup_set.count == 1 %}
                                            <p>{{ market.joinedgroup_set.count }} {% trans "participant" %}</p>
                                        {% else %}
                                            <p>{{ market.joinedgroup_set.count }} {% trans "participants" %}</p>
                                        {% endif %}
                                        {% if market.has_expired %}
                                            {% blocktrans %}The market is over.{% endblocktrans %}
                                        {% else %}
                                            {% blocktrans %}You can place bets on this market until{% endblocktrans %}
                                            {{ market.end_date }}
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}