{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load assets_by_option_user %}

<head>
    <title>{% block title %}{{ market.title }}{% endblock %}</title>
</head>

{% block css %}
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css"
          rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row top-buffer"> {% comment %}Top buffer adds 20px for top margin{% endcomment %}
        <div class="col-md-3">
            <img class="img-fluid img-thumbnail img-header" alt="{{ market.title }}" title="{{ market.title }}"
                 src="data:image/png;base64,{{ market.picture }}" data-holder-rendered="true">
        </div>
        <div class="col-md-9 my-auto"> {% comment %}Puts column and text in the center{% endcomment %}
            <div class="row">
                <div class="col-md">
                    <div class="row">
                        <div class="col">
                            <div class="header-title"> {% comment %}Adds margin to the column{% endcomment %}
                                <h1 class="text-blue" style="overflow-wrap: break-word;">
                                    {{ market.title }}
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-muted">
                            {% blocktrans %}Created by{% endblocktrans %} {{ market.creator }}
                            {% trans "on" %} {{ market.creation_date |date }}
                            <p>
                                {{ assets_number }}
                                {% if assets_number == 1 %}
                                    {% trans "asset sold" %}.
                                {% else %}
                                    {% trans "assets sold" %}.
                                {% endif %}
                            </p>
                            <h4>
                                {% if market.has_expired %}
                                    <img src="{% static 'img/icons/forbidden.png' %}"
                                             title="{% trans "Market ended" %}"
                                             alt="{% trans "Market ended" %}" style="max-height: 40px;"> {% trans "This market ended on" %} {{ market.end_date |date }}
                                {% else %}
                                    <img src="{% static 'img/icons/finish-flag.png' %}"
                                             title="{% trans "End date" %}"
                                             alt="{% trans "End date" %}" style="max-height: 40px;"> {% trans "Ending date" %}: {{ market.end_date |date }}
                                {% endif %}
                            </h4>
                        </div>
                    </div>
                </div>
                {% if market.creator == user %}
                    <div class="col-md-3">
                        <div style="margin-bottom: 1rem">
                            <h2 class="text-red">
                                <img src="{% static 'img/icons/options-3.png' %}" alt="Options"
                                     style="max-height: 25px;">
                                {% trans "Market options:" %}
                            </h2>
                        </div>
                        <div class="col">
                            <a href='/market/edit/?marketId={{ market.id }}'
                               class="btn btn-warning btn-block text-left">
                                <img src="{% static 'img/icons/edit.png' %}" alt="Edit"
                                     style="max-height: 25px;"/> {% trans "Edit market" %}</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <hr>
            <div class="row">
                <div class="col">
                    <div style="margin-bottom: 1rem">
                        <h2 class="text-red">
                            <img src="{% static 'img/icons/community-rules.png' %}" alt="Description"
                                 style="max-height: 25px;">
                            {% trans "Description:" %}
                        </h2>
                    </div>
                    <div>
                        <p>{{ market.description }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="header-title">
                        <h2 class="text-red">
                            <img src="{% static 'img/icons/users.png' %}" alt="{% trans "Related markets" %}"
                                 style="max-height: 25px;">
                            {% trans "Related markets" %}:
                        </h2>
                        <div class="album bg-light">
                            <div class="container">
                                <div class="row" id="relatedMarketsContainerRowId">
                                    <!-- Related markets generated by an AJAX call below -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <hr>
            <div class="row">
                <div class="col">
                    <h2 class="text-red" style="margin-bottom: 1rem">
                        <img src="{% static 'img/icons/markets.png' %}" alt="Contracts" style="max-height: 25px;">
                        {% trans "Contracts" %}:
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% for option in market.option_set.all %}
                        <div class="block">
                            <div class="row">
                                {% if market.is_binary %}
                                    {% with PRICE=option.get_todays_price.buy_price %}
                                        <div class="col-md-2 mx-auto my-auto">
                                            {% if option.binary_yes %}
                                                <h4 class="text-blue">
                                                    <img src="{% static 'img/icons/yes-check.png' %}" alt="Yes"
                                                         style="max-height: 50px;"/>
                                                    {% trans "Yes" %}
                                                </h4>
                                            {% else %}
                                                <h4 class="text-blue">
                                                    <img src="{% static 'img/icons/no-cross.png' %}" alt="No"
                                                         style="max-height: 50px;"/>
                                                    {% trans "No" %}
                                                </h4>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-8">
                                            <form method="post" action="/asset/buy/?marketId={{ market.pk }}"
                                                  id="formId{{ forloop.counter }}" class="form-inline">
                                                <div class="row" style="width:100%;">
                                                    {% csrf_token %}
                                                    <input type="hidden" id="optionId" name="optionId"
                                                           value="{{ option.pk }}">
                                                    <div
                                                            class="col-md-4 mx-auto my-auto text-center padding-0 padding-top-bottom">
                                                        <h6 class="text-blue">{% trans "Price" %}</h6>
                                                        {{ PRICE }} karma
                                                    </div>
                                                    <div class="col-md-4 my-auto mx-auto text-center padding-top-bottom">
                                                        <h6 class="text-blue">{% trans "Quantity" %}</h6>
                                                        {{ asset_form.quantity | add_class:'form-control' | attr:"id:quantity" | attr:"style: width: 60px; display: block; margin : 0 auto; height:30px; padding:1px;" }}
                                                    </div>
                                                    <div
                                                            class="col-md-4 mx-auto my-auto text-center padding-0 padding-top-bottom">
                                                        <h6 class="text-blue">
                                                            {% trans "Buy" %}
                                                        </h6>
                                                        <!-- Button trigger modal for binary markets-->
                                                        <button type="button" class="btn btn-primary"
                                                                data-toggle="modal"
                                                                data-target="#binaryMarketsModal"
                                                                data-binarymarket="true"
                                                                data-optionname="{{ option.name }}"
                                                                data-form="formId{{ forloop.counter }}"
                                                                data-assetprice="{{ PRICE }}">
                                                            {% trans "Buy assets" %}
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    {% endwith %}
                                {% else %}
                                    {% if market.is_exclusive %}
                                        {% with PRICE=option.get_todays_price.buy_price %}
                                            <div class="col-md-2 mx-auto my-auto">
                                                <h4 class="text-blue">
                                                    {{ option.name }}
                                                </h4>
                                            </div>
                                            <div class="col-md-8">
                                                <form method="post" action="/asset/buy/?marketId={{ market.pk }}"
                                                      id="formId{{ forloop.counter }}" class="form-inline">
                                                    <div class="row" style="width:100%;">
                                                        {% csrf_token %}
                                                        <input type="hidden" id="optionId" name="optionId"
                                                               value="{{ option.pk }}">
                                                        <div
                                                                class="col-md-4 mx-auto my-auto text-center padding-0 padding-top-bottom">
                                                            <h6 class="text-blue">{% trans "Price" %}</h6>
                                                            {{ PRICE }} karma
                                                        </div>
                                                        <div class="col-md-4 my-auto mx-auto text-center padding-top-bottom">
                                                            <h6 class="text-blue">{% trans "Quantity" %}</h6>
                                                            {{ asset_form.quantity | add_class:'form-control' | attr:"id:quantity" | attr:"style: width: 60px; display: block; margin : 0 auto; height:30px; padding:1px;" }}
                                                        </div>
                                                        <div
                                                                class="col-md-4 mx-auto my-auto text-center padding-0 padding-top-bottom">
                                                            <h6 class="text-blue">
                                                                {% trans "Buy" %}
                                                            </h6>
                                                            <!-- Button trigger modal for binary markets-->
                                                            <button type="button" class="btn btn-primary"
                                                                    data-toggle="modal"
                                                                    data-target="#binaryMarketsModal"
                                                                    data-binarymarket="true"
                                                                    data-optionname="{{ option.name }}"
                                                                    data-form="formId{{ forloop.counter }}"
                                                                    data-assetprice="{{ PRICE }}">
                                                                {% trans "Buy assets" %}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        {% endwith %}
                                    {% else %}
                                        {% with YES_PRICE=option.get_todays_price_yes.buy_price NO_PRICE=option.get_todays_price_no.buy_price %}
                                            <div class="col-md-2 mx-auto my-auto">
                                                <h5 class="text-blue">{{ option.name }}</h5>
                                            </div>
                                            <div class="col-md-8">
                                                <form method="post" action="/asset/buy/?marketId={{ market.pk }}"
                                                      id="formId{{ forloop.counter }}" class="form-inline">
                                                    <div class="row" style="width:100%;">
                                                        {% csrf_token %}
                                                        <input type="hidden" id="optionId" name="optionId"
                                                               value="{{ option.pk }}">
                                                        <div
                                                                class="col-md-2 mx-auto my-auto text-center padding-0 padding-top-bottom">
                                                            <h6 class="text-correct">{% trans "'Yes' price" %}</h6>
                                                            {{ YES_PRICE }} karma
                                                        </div>
                                                        <div
                                                                class="col-md-3 my-auto text-center padding-0 padding-top-bottom">
                                                            <h6 class="text-blue">{% trans "Yes or no?" %}</h6>
                                                            <div class="form-group">
                                                                <input type="checkbox" checked data-toggle="toggle"
                                                                       data-on="{% trans "Buy yes" %}"
                                                                       data-off="{% trans "Buy no" %}"
                                                                       data-onstyle="success" data-offstyle="danger"
                                                                       name="is_yes"
                                                                       data-size="sm" data-style="innerdivtoggle"
                                                                       id="checkBoxId{{ forloop.counter }}">
                                                            </div>
                                                        </div>
                                                        <div
                                                                class="col-md-2 mx-auto my-auto text-center padding-0 padding-top-bottom">
                                                            <h6 class="text-incorrect">{% trans "'No' price" %}</h6>
                                                            {{ NO_PRICE }} karma
                                                        </div>
                                                        <div
                                                                class="col-md-3 my-auto mx-auto text-center padding-top-bottom">
                                                            <h6 class="text-blue">{% trans "Quantity" %}</h6>
                                                            {{ asset_form.quantity | add_class:'form-control' | attr:"id:quantity" | attr:"style: width: 60px; display: block; margin : 0 auto; height:30px; padding:1px;" }}
                                                        </div>
                                                        <div
                                                                class="col-md-2 mx-auto my-auto text-center padding-0 padding-top-bottom">
                                                            <!-- Button trigger modal for non binary market-->
                                                            <button type="button" class="btn btn-primary"
                                                                    data-toggle="modal"
                                                                    data-target="#binaryMarketsModal"
                                                                    data-binarymarket="false"
                                                                    data-optionname="{{ option.name }}"
                                                                    data-form="formId{{ forloop.counter }}"
                                                                    data-assetpriceyes="{{ YES_PRICE }}"
                                                                    data-assetpriceno="{{ NO_PRICE }}"
                                                                    data-checkboxid="checkBoxId{{ forloop.counter }}">
                                                                {% trans "Buy assets" %}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        {% endwith %}
                                    {% endif %}
                                {% endif %}
                                <div id="possibleEarnJs{{ forloop.counter }}"
                                     class="col-md-2 mx-auto my-auto text-center padding-top-bottom">
                                    {% if user.is_authenticated %}
                                        {% get_assets_by_option_user option user %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="divPlotlyLinesChart">
                    </div>
                    <div id="possibleEarnJs"
                         class="col-md-2 mx-auto my-auto text-center padding-top-bottom"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="binaryMarketsModal" tabindex="-1"
         role="dialog" aria-labelledby="binaryMarketsModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"
                        id="modal-title">
                        Option</h4>
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{% trans "Quantity" %}: <strong><span id="body-quantity"></span></strong> {% trans "assets" %}.
                    </p>
                    <p>{% trans "Price per asset" %}: <span id="body-asset-price"></span> karma.</p>
                    <p>{% trans "Total price" %}: <strong><span id="body-total-price"></span> karma.</strong></p>
                    <p><span id="body-option-benefits"></span></p>
                </div>
                <div class="modal-footer">
                    <p hidden id="body-no-karma" class="text-danger">{% trans "You don't have enough karma" %}.</p>
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">{% trans "Close" %}
                    </button>
                    <button type="submit" class="btn btn-primary"
                            id="buysubmit">
                        <img src="{% static 'img/icons/buy.png' %}"
                             alt="Buy" style="max-height: 25px;"/>
                        {% trans "Buy" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        $('#binaryMarketsModal').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget);// Button that triggered the modal.
            let option_name = button.data('optionname'); // Extract info from data-* attributes
            let form_id = button.data('form');
            let quantity = $('#' + form_id).find('#quantity').val();
            let binary = button.data('binarymarket');
            let asset_price;
            if (binary) {
                asset_price = button.data('assetprice');
            } else {
                let checkbox_id = button.data('checkboxid');
                const yes_case = $('#' + checkbox_id).is(":checked");
                if (yes_case) {
                    asset_price = button.data('assetpriceyes');
                } else {
                    asset_price = button.data('assetpriceno');
                }
            }

            let total_price = quantity * asset_price;

            const modal = $(this);
            modal.find('#modal-title').text(option_name);
            modal.find('#buysubmit').attr('form', form_id);
            modal.find('#body-quantity').text(quantity);
            modal.find('#body-asset-price').text(asset_price);
            modal.find('#body-total-price').text(total_price);
            modal.find('#body-option-benefits').text(option_benefits(asset_price, quantity));
            console.log("User karma: " + {{ user_karma }});
            if (total_price >{{ user_karma }}) {
                modal.find('#body-no-karma').removeAttr('hidden');
                modal.find('#buysubmit').attr("disabled", "disabled");
            } else {
                modal.find('#body-no-karma').attr("hidden", "hidden");
                modal.find('#buysubmit').removeAttr('disabled');
            }
        });

        function option_benefits(asset_price, quantity) {
            let msg1 = "";
            let msg2 = "";
            let msg3 = "";
            const benefits = 100 - asset_price;
            const total_benefits = benefits * quantity;

            {% get_current_language as LANGUAGE %}
            {% if LANGUAGE == "en" %}
                msg1 = "You can earn ";
                msg2 = " karma per asset. In other words, ";
                msg3 = " karma in total!";
            {% else %}
                msg1 = "Puedes ganar ";
                msg2 = " karma por acción. O lo que es lo mismo, ¡";
                msg3 = " karma en total!";
            {% endif %}

            return msg1 + benefits + msg2 + total_benefits + msg3;
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: "/ajax/chart/",
                data: {
                    'marketId': {{ market.pk|stringformat:"s" }}
                },
                dataType: 'json',
                success: function (data) {
                    var returnedData = JSON.parse(data);
                    var chart_data = [];
                    for (var i = 0; i < returnedData.options.length; i++) {
                        var x = returnedData.labels;
                        var y = returnedData.options[i].values;
                        var mode = 'lines+markers';
                        var name = returnedData.options[i].name;
                        var type = 'scatter';
                        var line;
                        {% if market.is_binary %}
                            if (returnedData.options[i].binary_yes === true) {
                                line = {
                                    'color': "#0c730d"
                                };
                            } else if (returnedData.options[i].binary_yes === false) {
                                line = {
                                    'color': "#a00c04"
                                };
                            }
                        {% endif %}
                        var trace = {
                            'x': x,
                            'y': y,
                            'mode': mode,
                            'name': name,
                            'type': type,
                            'line': line,
                        };
                        chart_data.push(trace);
                    }
                    var layout = {
                        'title': '{{ market.title }}',
                        'yaxis': {
                            'autorange': false,
                            'range': [0.0, 100.0],
                            'type': 'linear'
                        }
                    };
                    Plotly.newPlot('divPlotlyLinesChart', chart_data, layout, {responsive: true});
                },
                error: function (data) {
                    console.log("error");
                }
            });
            return false;
        });

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: "/ajax/related_markets/",
                data: {
                    'marketId': {{ market.pk|stringformat:"s" }}
                },
                dataType: 'json',
                success: function (data) {
                    var returnedData = JSON.parse(data);
                    var list_html = "";
                    for (var i = 0; i < returnedData.length; i++) {
                        list_html += "<div class='col-md-12'>";
                        list_html += "<div class='card mb-4 box-shadow'>";
                        list_html += "<a href='/market/?marketId=" + returnedData[i].id + "'>";
                        list_html += "<img class='card-img-top img-thumbnail img-related-market'";
                        list_html += "alt='" + returnedData[i].title + "'";
                        list_html += "src='data:image/png;base64," + returnedData[i].picture + "'";
                        list_html += "data-holder-rendered='true'>";
                        list_html += "</a>";
                        list_html += "<div class='card-body'>";
                        list_html += "<p class='card-text'>";
                        list_html += "<a href='/market/?marketId=" + returnedData[i].id + "'";
                        list_html += " class='text-blue'><strong>" + returnedData[i].title + "</strong></a>";
                        list_html += "</p></div></div></div>";
                    }
                    $("#relatedMarketsContainerRowId").html(list_html);
                },
                error: function (data) {
                }
            });
            return false;
        });
    </script>
{% endblock %}