{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}

<head>
    <title>{% block title %}{% trans "Judge market" %}{% endblock %}</title>
</head>

{% block content %}

    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <div class="header-title">
                <h1 class="wv-heading--title">
                    {% blocktrans %}Judge market{% endblocktrans %}
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h3>{{ market.title }}</h3>
            <h5>{{ market.description }}</h5>
            <small class="text-muted">
                {% trans "Created by" %} <a href="/user/?userId={{ market.creator.pk }}" >{{ market.creator.first_name }} {{ market.creator.last_name }}</a>.
                {% trans "Ended on" %} {{ market.end_date }}.
            <div class="myform form ">
                <form method="post" id="judge_form">
                    <div>
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.options.id_for_label }}" class="text-info">
                                {{ form.options.label }}
                            </label><br>
                            {{ form.options |add_class:'form-control my-input' |attr:'name:options' }}
                            <small class="form-text text-muted">{{ form.options.help_text }}</small>
                        </div>

                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        {{ error }}
                                    {% endfor %}
                                {% endif %}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}

                        <div class="text-center">
                            <a href='/market/{{ market.pk }}/{{ market.slug }}' class="btn btn-secondary" role="button">
                                {% trans "Cancel" %}</a>
                            <button type="submit" class=" btn btn-primary">
                                {% blocktrans %}Judge market{% endblocktrans %}
                            </button>
                        </div>
                    </div>
                    {{ option_formset.management_form }}
                </form>
            </div>
        </div>
    </div>

{% endblock %}