{% extends 'base.html' %}
{% load i18n %}
{% load static %}

<head>
    <title>{% block title %}{% trans "Markets" %}{% endblock %}</title>
</head>

{% block content %}

    <div class="col-md-6 mx-auto text-center">
        <div class="header-title">
            <h1 class="wv-heading--title">
                {% trans "Markets" %}
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <nav aria-label="Pagination">
                <ul class="pagination">
                    {% if markets.has_previous %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ markets.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}

                    {% for page_num in markets.paginator.page_range %}
                        {% if markets.number == page_num %}
                            <li class="page-item active"><span class="page-link">{{ page_num }} <span
                                    class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if markets.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ markets.next_page_number }}">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% if user.is_staff or user_verified %}
            <div class="col">
                <div class="float-right">
                    <a href="{% url 'create_market' %}">
                        <button type="button" class="btn btn-primary">
                            {% blocktrans %}Create market{% endblocktrans %}
                        </button>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for market in markets %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <a href="/market/?marketId={{ market.id }}">
                                <img class="card-img-top" alt="{{ market.title }}"
                                     src="data:image/png;base64,{{ market.picture }}" data-holder-rendered="true">
                            </a>
                            <div class="card-body">
                                <p class="card-text">
                                    <strong>{{ market.title }}</strong>
                                </p>
                                <small class="text-muted">
                                    {% if market.group == None %}
                                        <img src="{% static 'img/icons/unlock.png' %}"
                                             title="{% trans "Public market" %}"
                                             alt="{% trans "Public market" %}" style="max-height: 25px;">
                                        {% trans "Public market" %}
                                    {% else %}
                                        <img src="{% static 'img/icons/community.png' %}"
                                             title="{% trans "Community" %}"
                                             alt="{% trans "Community" %}" style="max-height: 25px;">
                                        {{ market.group.name }}
                                    {% endif %}
                                </small>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">
                                        <img src="{% static 'img/icons/finish-flag.png' %}"
                                             title="{% trans "End date" %}"
                                             alt="{% trans "End date" %}" style="max-height: 25px;">
                                        {{ market.end_date }}
                                    </small>
                                    {% if user == market.creator %}
                                        <a href='/market/edit/?marketId={{ market.id }}'
                                           class="btn btn-outline-secondary"
                                           role="button">{% trans "Edit" %}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}