{% extends 'base.html' %}
{% load i18n %}
{% load static %}

<head>
    <title>{% block title %}{% trans "Markets" %}{% endblock %}</title>
</head>

{% block content %}

    <div class="col-md-6 mx-auto text-center">
        <div class="header-title">
            <h1 class="wv-heading--title">
                {% trans "Judge finished markets" %}
            </h1>
        </div>
        {% if created %}
            <div class="alert alert-info fade show" role="alert">
                <h5 class="alert-heading">
                    {% trans "Showing only public markets created by you" %}
                </h5>
                <a href="/judge-markets" class="alert-link">
                    {% trans "Click to show all public markets" %}.
                </a>
            </div>
        {% else %}
            <div class="alert alert-info fade show" role="alert">
                <h5 class="alert-heading">
                    {% trans "Showing all public markets" %}
                </h5>
                <a href="/judge-markets/created" class="alert-link">
                    {% trans "Click to show only markets created by you" %}.
                </a>
            </div>
        {% endif %}
    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for market in markets %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <a href="/market/{{ market.id }}/{{ market.slug }}">
                                <img class="card-img-top" alt="{{ market.title }}"
                                     src="data:image/png;base64,{{ market.picture }}" data-holder-rendered="true">
                            </a>
                            <div class="card-body">
                                <a href="/market/{{ market.id }}/{{ market.slug }}" style="color:#123C69;">
                                    <p class="card-text">
                                        <strong>{{ market.title }}</strong>
                                    </p></a>
                                <small class="text-muted">
                                    {% trans "Created by" %} {{ market.creator.first_name }} {{ market.creator.last_name }}
                                </small>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="market-expired">
                                        <img src="{% static 'img/icons/finish-flag.png' %}"
                                             title="{% trans "End date" %}"
                                             alt="{% trans "End date" %}" style="max-height: 25px;">
                                        {% trans "Ended on" %} {{ market.end_date }}
                                    </small>
                                    <a href='/judge-markets/judge/{{ market.pk }}/{{ market.slug }}'
                                       class="btn btn-warning"
                                       role="button">
                                        <img src="{% static 'img/icons/judge.png' %}"
                                                 title="{% trans "Judge" %}"
                                                 alt="{% trans "Judge" %}" style="max-height: 25px;"> {% trans "Judge" %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <br/>
    <div class="row">
        <div class="col">
            <nav aria-label="Pagination">
                <ul class="pagination">
                    {% if markets.has_previous %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ markets.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}

                    {% for page_num in markets.paginator.page_range %}
                        {% if markets.number == page_num %}
                            <li class="page-item active"><span class="page-link">{{ page_num }} <span
                                    class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if markets.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ markets.next_page_number }}">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

{% endblock %}