/*--- navigation bar ---*/
.navbar {
  background:#6ab446;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
ul.navbar a.clicked{
    border-bottom: 3px solid #ff5c00;
}
.navbar-collapse {
  justify-content: flex-end;
}
.img-flag {
    height: 15px;
    width: 25px;
}
