body {
    padding: 0;
    margin: 0;
    background: #EEE2DC;
}


.send-button {
    background: #54C7C3;
    width: 100%;
    font-weight: 600;
    color: #fff;
    padding: 8px 25px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.g-button {
    color: #fff !important;
    border: 1px solid #EA4335;
    background: #ea4335 !important;
    width: 100%;
    font-weight: 600;
    padding: 8px 25px;
}

.my-input {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: text;
    padding: 8px 10px;
    transition: border .1s linear;
}

.header-title {
    margin: 1rem 0;
}

h1 {
    font-size: 31px;
    line-height: 40px;
    font-weight: 600;
    color: #4c5357;
}

h2 {
    color: #5e8396;
    font-size: 21px;
    line-height: 32px;
    font-weight: 400;
}

.login-or {
    position: relative;
    color: #AC3B61;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #EEE2DC;
    width: 50px;
    text-align: center;
}

.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 20px;
    }
}

.top-buffer {
    margin-top: 20px;
}

.block {
    display: flex;
    align-items: flex-start;
    background: #AFF0F3;
    padding: 1rem;
    margin: 0 0 1rem 0;
    border-style: ridge;
    border-width: 3px;
    border-color: #AC3B61;

}

.block[data-judged="True"][data-correct="True"],
.block[data-judged="True"][data-correct="True"][data-binary="False"][data-exclusive="False"][data-yes="True"],
.block[data-judged="True"][data-correct="False"][data-binary="False"][data-exclusive="False"][data-yes="False"] {
    background: #57f3a2 !important;
}

.block[data-judged="True"][data-correct="False"],
.block[data-judged="True"][data-correct="True"][data-binary="False"][data-exclusive="False"][data-yes="False"],
.block[data-judged="True"][data-correct="False"][data-binary="False"][data-exclusive="False"][data-yes="True"] {
    background: #f39788 !important;
}

.block > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 1rem 0 0;
    display: block;

}

.block > .img-thumbnail {
    background: #D03561;
}

.block > div {
    flex: 1;
}

.block h2 {
    font-weight: 500;
    margin: 0 0 0.5rem 0;
}

.innerdivtoggle {
    margin: 0 auto;
    display: flex;
}

.padding-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.padding-top-bottom {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.card-img-top {
    object-fit: cover;
    display: block;
    height: 183px;
}

.card[data-expired="True"], .block[data-expired="True"] {
    background: #eac0b7 !important;
}

.img-header {
    height: 255px;
    width: 255px;
    display: block;
    object-fit: cover;
}

.img-related-market {
    max-height: 150px;
    display: block;
    object-fit: cover;
}

.market-expired {
    color: #ea4335;
}

.market-public {
    color: #3fa746;
}

.market-not-public, .text-blue {
    color: #123C69 !important;
}

.text-red {
    color: #AC3B61 !important;
}

.text-correct {
    color: #03850a !important;
}

.text-incorrect {
    color: #ac1a13 !important;
}

/*Bootstrap default colours overwrite*/
.btn-primary {
    color: #EEE2DC;
    background-color: #123C69;
    border-color: #AC3B61;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,
.open > .dropdown-toggle.btn-primary, .btn-primary:active:focus {
    color: #EEE2DC;
    background-color: #AC3B61;
    border-color: #123C69;
}

.btn-secondary {
    color: #EEE2DC;
    background-color: #9b9396;
    border-color: #AC3B61;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active,
.open > .dropdown-toggle.btn-secondary, .btn-secondary:active:focus {
    color: #EEE2DC;
    background-color: #AC3B61;
    border-color: #123C69;
}

.btn-warning {
    color: #123C69;
    background-color: #FFA31A;
    border-color: #AC3B61;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active,
.open > .dropdown-toggle.btn-warning, .btn-warning:active:focus {
    color: #EEE2DC;
    background-color: #AC3B61;
    border-color: #123C69;
}

.btn-info {
    color: #123C69;
    background-color: #AFF0F3;
    border-color: #123C69;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active,
.open > .dropdown-toggle.btn-info, .btn-info:active:focus {
    color: #EEE2DC;
    background-color: #AC3B61;
    border-color: #123C69;
}

.btn-danger {
    color: #ffffff;
    background-color: #dc3545;
    border-color: #433939;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active,
.open > .dropdown-toggle.btn-danger, .btn-danger:active:focus {
    color: #EEE2DC;
    background-color: #AC3B61;
    border-color: #123C69;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    color: #EEE2DC;
    background-color: #123C69;
    border-color: #AC3B61;
}

.back-to-top:hover {
    color: #EDC7B7;
}

.page-item.active .page-link {
    color: #EEE2DC;
    background-color: #123C69;
    border-color: #AC3B61;
}

.page-item.disabled .page-link {
    color: #123C69;
    background-color: #BAB2B5;
    border-color: #EDC7B7;
}

.page-item .page-link {
    color: #123C69;
    background-color: #ffffff;
}

.text-info {
    color: #AC3B61 !important;
}

.custom-control-label {
    color: #123C69 !important;
}