{% load static %}
{% load i18n %}
{% load babel %}
{% load intspace %}
{% load cookielaw_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% blocktrans %}Prediction Markets{% endblocktrans %}{% endblock %}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "css/header.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "cookielaw/css/cookielaw.css" %}">
    {% block css %}
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md fixed-top">
        <!-- This denotes at which point the navigation bar expands from vertical or hamburger icon to a full-size horizontal bar. Set to medium-->
        <a class="navbar-brand" href="{% url 'home' %}">
            {% trans "Home" %}
        </a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse"
                data-target="#main-navigation" name="toggle">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" id="markets_id" href="{% url 'markets' %}">
                        <img src="{% static "img/icons/stats3.png" %}" alt="{% trans "Markets" %}" class="img-profile"/>
                        {% trans "Markets" %}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="communities_id" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{% static "img/icons/community.png" %}" alt="{% trans "Community" %}"
                             class="img-profile"/>
                        {% trans "Communities" %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'list_all_communities' %}">
                            <img src="{% static "img/icons/community.png" %}" alt="{% trans "All communities" %}"
                                 class="img-profile"/>
                            {% blocktrans %}All communities{% endblocktrans %}</a>
                        {% if user.is_authenticated %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'list_created_communities' %}">
                                <img src="{% static "img/icons/community2.png" %}"
                                     alt="{% trans "Created communities" %}" class="img-profile"/>
                                {% blocktrans %}Created communities{% endblocktrans %}</a>
                            {% if user.get_joined_community_accepted_set.exists %}
                                <div class="dropdown-divider"></div>
                                {% for joined_community in user.get_joined_community_accepted_set.all %}
                                    <a class="dropdown-item"
                                       href="/community/{{ joined_community.community.pk }}/{{ joined_community.community.slug }}">
                                        <img class="img-profile"
                                             src="data:image/png;base64,{{ joined_community.community.picture }}"
                                             alt="{% trans "Community" %}"/>
                                        {{ joined_community.community.name }}</a>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="categories_id" href="{% url 'categories' %}">
                        <img src="{% static "img/icons/rubik1.png" %}" alt="{% trans "Categories" %}"
                             class="img-profile"/>
                        {% trans "Categories" %}</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    {% get_current_language as LANGUAGE %}
                    <span class="navbar-text private-karma-block" id="private-karma-block" hidden>
                        hola
                    </span>
                    <span class="navbar-text public-karma-block" style="margin-right: 10px;">
                        {% if LANGUAGE == "es" %}
                            {% intspace_dot user.public_karma %}
                        {% else %}
                            {% intspace_comma user.public_karma %}
                        {% endif %}
                        {% trans "public Karma" %}
                    </span>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="data:image/png;base64,{{ user.picture }}" alt="{{ user.name }}"
                                 class="img-profile"/>
                            {{ user.first_name }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                            <a class="dropdown-item" href="/user/{{ user.pk }}/{{ user.slug }}">
                                <img src="{% static "img/icons/profile.png" %}" alt="Profile"
                                     class="img-profile"/>
                                {% blocktrans %}My profile{% endblocktrans %}</a>
                            <a class="dropdown-item" href="/bets/{{ user.pk }}/{{ user.slug }}">
                                <img src="{% static "img/icons/moneybox.png" %}" alt="Bets"
                                     class="img-profile"/>
                                {% blocktrans %}Betting history{% endblocktrans %}</a>
                            {% if not user.is_verified %}
                                <a class="dropdown-item" href="{% url "verify_account" %}">
                                    <img src="{% static "img/icons/verified2.png" %}" alt="Verify"
                                         class="img-profile"/>
                                    {% blocktrans %}Verify my account{% endblocktrans %}</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">
                                <img src="{% static "img/icons/logout.png" %}" alt="Logout"
                                     class="img-profile"/>
                                {% trans "Logout" %}</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">{% trans "Login" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">{% blocktrans %}Sign up{% endblocktrans %}</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated and user.is_staff %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{% static "img/icons/admin-options.png" %}" alt="Admin"
                                 class="img-profile"/>
                            {% blocktrans %}Admin{% endblocktrans %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'create_category' %}">
                                {% blocktrans %}Create category{% endblocktrans %}</a>
                            <a class="dropdown-item" href="/market/create/">
                                {% blocktrans %}Create market{% endblocktrans %}</a>
                            <a class="dropdown-item" href="{% url 'create_admin' %}">
                                {% blocktrans %}Create admin{% endblocktrans %}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/judge-markets">
                                {% blocktrans %}Judge markets{% endblocktrans %}</a>
                            <a class="dropdown-item" href="{% url "list_verify_requests" %}">
                                {% blocktrans %}Judge verify requests{% endblocktrans %}</a>
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <img src="{% static "img/icons/globe.webp" %}" alt="{% trans "Language" %}" class="img-profile"/>
                        {% trans "Language" %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        {% get_available_languages as LANGUAGES %}
                        {% for lang in LANGUAGES %}
                            <a class="dropdown-item" href="javascript:void(0)"
                               onclick="changeLanguage('{{ lang.0 }}');">
                                {% if lang.0 == "es" %}
                                    <img class="img-flag" src="{% static 'img/flag-ES.webp' %}" alt="es"/>
                                {% else %}
                                    <img class="img-flag" src="{% static 'img/flag-EN.png' %}" alt="en"/>
                                {% endif %}
                                {{ lang.1 }}
                            </a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main class="container" role="main">
    {% cookielaw_banner %}
    {% block content %}
    {% endblock %}

    <a id="back-to-top" href="#" class="btn btn-lg back-to-top" role="button"
       title="Go top" data-toggle="tooltip" data-placement="left">
        <i class="fas fa-chevron-circle-up"></i> {% trans "Back to top" %}</a>
</main>
<br/>

<!-- i18n form. Entried by static/js/i18n.js -->
<form action="{% url 'set_language' %}" method="post" id="form_language">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}"/>
    <input name="language" type="hidden" value="" id="form_language_lang"/>
</form>

<!-- Import js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/i18n.js' %}"></script>
<script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>
<script>
    $(document).ready(function () {
        var url_str = window.location.pathname;
        if (url_str.startsWith("/market")) {
            activate_link_navbar("markets_id");
        } else if (url_str.startsWith("/categor")) {
            activate_link_navbar("categories_id");
        } else if (url_str.startsWith("/communit")) {
            activate_link_navbar("communities_id")
        } else if (url_str.startsWith("/user")) {
            activate_link_navbar("navbarDropdownUser")
        }
    });

    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('#back-to-top').tooltip('show');

    });

    function activate_link_navbar(nav_link_id) {
        // First we remove the clicked class from all the navs.
        $('.clicked').removeClass('clicked');
        // Then we set the clicked class to the current nav.
        $('#' + nav_link_id).addClass('clicked')
    }
</script>
{% block javascript %}
{% endblock %}
</body>
</html>